<form action="/add_music" method="POST" class="music-type">
    <h4>Select Your Music type: </h4>
    <label>
        <input type="radio" name="music_type" value="album"> Album
    </label><br>

    <label>
        <input type="radio" name="music_type" value="single"> Single
    </label><br>
    <button type="submit">Select</button>
</form>
