<div class="single-card">
    <h1>Teddy Afro</h1>
    <h3>70 dereja</h3>
    <div>
        <span>2000s EC</span>
        <span>8</span>
    </div>
</div>

<!--  style="background-image: url('<%='something'  %>');" -->